body {
    background: salmon;
    color: wheat;
    text-align: center;
}
h1 {
    font-size: 30px;
    color: whitesmoke;
}
a{
    color: aquamarine;
}
a:hover{
    cursor: pointer;
}
img {
    border-radius: 100px;
}